body{
    /* background-color: rgb(15, 15, 15); ; */
    padding: 0px;
    margin: 0px;
    /* rgb(15, 15, 15); */
    /* opacity: 72%; */
    background-image: url(https://wallpaperaccess.com/full/1567674.jpg) ;
}

.navbar{
    overflow: hidden;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 0px;
    
}
.navbarlist{
    display: inline;
}
.navbar li{
    text-decoration: none;
    list-style-type: none;
    float: right;
    font-size: 80%;
}
.navbar li a{
    text-decoration: none;
    color: rgb(114, 111, 111);
}
.navbar li a:hover{
  text-decoration: underline;
  color: rgb(17, 161, 60);
  font-weight: bold;
}
.navbar ul{
    overflow: auto;
    margin-top: 2%;
    display: inline;
}
.navbar img{
    width: 30px;
    height: 30px;
    padding-top: 32px;
    margin-right: 10px;
}
.xyz{
    margin-top: 34px;
    padding-bottom: 0px;
    padding-right: 20px;
}
#brandname{
    font-size: 60px;
    float: left;
    /* display: flex; */
    margin-top: -16px;
    color: rgb(17, 161, 60);
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
}
#brandname2{
    font-size: 40px;
    float: left;
    /* display: flex; */
    color: rgb(114, 111, 111);
    padding: 0px;
    margin-top: 23px;
    margin-left: 5px;  
}

#cart_icon{
    height: 40px;
     width: 40px;
     /* float: right; */
     /* padding-right: 300px; */
     padding-top: 0px;
}
.dropbtn{
    margin-top: 1.3%;
    padding-top: 5px;
    color:white;
    font-family: 'Roboto', sans-serif;
    cursor:  pointer;
    border: green solid; 
    border-radius : 25%; 
    margin-left: 5px;
}

.dropdown{
    float: left;
    padding-bottom: 10px;
    
}

.dropdown-content {
    display:none;
    position: relative;
    background-color: white;
    padding-bottom: 0px;
    border-radius: 10%;
}

.dropdown-content a{
    text-decoration: none;
    color:rgb(114, 111, 111);
    display: block;
    padding: 5px;
    
}

.dropdown-content a:hover {
   text-decoration: underline;
   color: rgb(17, 161, 60);
   font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

#menu_icon{
    height: 20px;
    width : 15px;

}

.slidershow{
    width: 65%;
    height: 60%;
    overflow: hidden;
    /* display: flex; */
    /* position: relative; */
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    
  }
  .navigation{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-20%);
    display: flex;
  }
  .bar{
    width: 10px;
    height: 10px;
    border: 2px solid rgb(8, 7, 7);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 100px;
}
  .bar:hover{
    background: rgb(32, 27, 27);
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }

  .searchbar{
    float: right;
    margin-right: 60px;
    margin-bottom: 10px;
    padding: 2px;
  }
  #searchicon{
   margin-top:20px; 
  }
  #search_btn img{
    width: 10px;
    height: 10px;
  }
  /* .offers{
      /* display: flex; */
      /* border: 2px solid white; */
      /* bottom: 10%; */
  